# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.StringBreakers.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Angarsky\OneDrive\Документы\Projects\CodeWarsKata\StringBreakers\.idea\.idea.StringBreakers\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
